<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>
<h4>(Personal info only visible to person share ride with you)</h3>

<div class="row">
  <div class="span6 offset3">
  <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

 	  <%= f.label :major %>
      <%= f.text_field :major %>

	  <% if !@user.newbie? %>
	  	<input id="user_provide_housing_true" name="user[provide_housing]" type="radio" value="true"> I can provide temp housing <br />
	  	<input checked="checked" id="user_provide_housing_false" name="user[provide_housing]" type="radio" value="false">I CANNOT provide temp housing <br /><br/>
	
	  	<%= f.label :housing_number, "If yes, you can provide temp housing for how many people?" %>
      	<%= f.text_field :housing_number %>
	  <% end %>

	  <input id="user_gender_true" name="user[gender]" type="radio" value="true"> Male<br />
	  <input id="user_gender_false" name="user[gender]" type="radio" value="false"> Female<br /><br />

 	  <%= f.label :qq, "QQ" %>
      <%= f.text_field :qq %>

 	  <%= f.label :phone, "Phone#" %>
      <%= f.text_field :phone %>

 	  <%= f.label :renren, "Renren(xiaonei)" %>
      <%= f.text_field :renren %>
	
	  <% if !@user.newbie? %>
 	    <%= f.label :available_pickup_time, "Available pickup time(in case we are REALLY short of volunteers)" %>
        <%= f.text_field :available_pickup_time %>
	  <% end %>
      

      <%= f.submit "Update!", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>