<%= provide(:title, 'All users') %>
<div class="container-fluid">
	<header class="jumbotron subhead">
		<div class="breadcrumb">
			<div class="row-fluid btn-toolbar">
				<div class="span2">
					<strong>All <%= @users.count %> users</strong>
				</div>
			</div>
		</div>
	</header>
	
	<div class="row-fluid">
		<div class="span16">
			<table class="table-striped table-bordered table items-list">
				<tread>
					<tr>
						<th>
							<i class style="position:absolute"></i>
							<%= link_to 'Id', users_path(:sort => 'id') %>
						</th>
						<th>
							<i class style="position:absolute"></i>
							Name
						</th>
						<th>
							<i class style="position:absolute"></i>
							<%= link_to 'Gender', users_path(:sort => 'gender') %>
						</th>
						<th>
							<i class style="position:absolute"></i>
							<%= link_to 'Major', users_path(:sort => 'major') %>
						</th>
						<th>
							<i class style="position:absolute"></i>
							<%= link_to 'Role', users_path(:sort => 'newbie') %>
						</th>
						<th>
							<i class style="position:absolute"></i>
							<%= link_to 'Provide temp housing', users_path(:sort => 'provide_housing') %>
						</th>
						<th>
							<i class style="position:absolute"></i>
							To how many people?
						</th>
						<th>
							<i class style="position:absolute"></i>
							Available pickup time
						</th>
						<% if current_user.admin? %>
						<th>
							<i class style="position:absolute"></i>
							Email
						</th>
						
						<th>
							<i class style="position:absolute"></i>
							QQ
						</th>
						<th>
							<i class style="position:absolute"></i>
							Phone
						</th>
						<% end%>
						
						
					</tr>
				</tread>
				<tbody class="autopagerize_page_element">
				
  					<%= render @users %>
				</tbody>
			</table>
		</div>
	</div>
</div>