<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
	<section>
      <strong>
		<li>I'm a 
			<% if @user.newbie? %>
				New student
			<% else %>
				Volunteer
			<% end %>
		<li>Gender: 
			<% if @user.gender? %>
				Boy
			<% else %>
				Girl
			<% end %>
		<li>Major: <%= @user.major %></li>
	<% if @user==current_user || current_user.trips.map(&:pickedpost).map(&:user).include?(@user) || current_user.admin? || @user.trips.map(&:pickedpost).map(&:user).include?(current_user) %>
	
        <li>Email: <%= @user.email %></li>
		
		
		
		<li>QQ: <%= @user.qq %></li>
		<li>Phone#: <%= @user.phone %></li>
		<li>Renren: <%= @user.renren %></li>
		<% if !@user.newbie? %>
			<li>Can provide temp housing: 
				<% if @user.provide_housing? %>
					Yes
					<li>Can provide temp housing for <%= @user.housing_number %> person(s)</li>
				<% else %>
					No
				<% end %>
		<% end %>
		<li>Available pickup time: <%= @user.available_pickup_time %></li>
     </strong>
    </section>
	<% end %>
  </aside>
   
  
  <div class="pp">
	<aside class="span16">
	<% if @user.newbie? %>
		<% if @user.posts.count!=0 %>
      		<h3>Posts (<%= @user.posts.count %>)</h3>
      		<div class="row-fluid">
        <div class="span16">
            <table class="table-striped table-bordered table items-list">
                <tread>
                    <tr>
                        <th>
                            <i class style="position:absolute"></i>
                            <a href="/posts?order=id" style>Id</a>
                        </th>
                        <th>
                            <i class style="position:absolute"></i>
                            <a href="/posts?order=name" style>Name</a>
                        </th>
                        <th>
                            <i class style="position:absolute"></i>
                            <a href="/posts?order=user.gender" style>Gender</a>
                        </th>
                        <th>
                            <i class style="position:absolute"></i>
                            <a href="/posts?order=user.major" style>Major</a>
                        </th>
                        <th>
                            <i class style="position:absolute"></i>
                            <a href="/posts?order=arrival_date" style>Arrival date</a>
                        </th>
                        <th>
                            <i class style="position:absolute"></i>
                            <a href="/posts?order=arrival_time" style>Arrival time</a>
                        </th>
                        <th>
                            <i class style="position:absolute"></i>
                            <a href="/posts?order=flight_number" style>Flight number</a>
                        </th>
                        <th>
                            <i class style="position:absolute"></i>
                            <a href="/posts?order=number_of_prople" style>Number of people</a>
                        </th>
                        <th>
                            <i class style="position:absolute"></i>
                            <a href="/posts?order=need_pickup" style>Need airport pickup?</a>
                        </th>
                        <th>
                            <i class style="position:absolute"></i>
                            <a href="/posts?order=need_housing" style>Need temp housing?</a>
                        </th>
                        <th>
                            <i class style="position:absolute"></i>
                            <a href="/posts?order=note" style>Notes</a>
                        </th>
                        <th>
                            <i class style="position:absolute"></i>
                            <a href="/posts?order=status" style>Pickup status</a>
                        </th>
                        <th>
                            <i class style="position:absolute"></i>
                            <a href="/posts?order=temp_housing" style>Temp housing status</a>
                        </th>
                    </tr>
                </tread>
                <tbody class="autopagerize_page_element">
                
                    <%= render @posts %>
                </tbody>
            </table>
        </div>
    </div>
      	
		<% elsif @user.posts.count==0 && @user==current_user %>
		<section>
			<%= render 'shared/post_form' %>
        </section>
		<% else %>
			This new student has no post yet
	    <% end %>
	<% else %>
		<% if @user.trips.count!=0 %>
			<h3>My Pickups (<%= @user.trips.count %>)</h3>
				<ol class="posts">
        			<%= render @trips %>
      			</ol>
      		
		<% elsif @user.posts.count==0 && @user==current_user %>
		<h1>
			<%= link_to "See all the posts", posts_path %>
		</h1>
		<% else %>
			This volunteer has not picked any new students yet
		<% end %>
    <% end %>
	</aside>
  </div>

</div>