<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
	<section>
      <strong>
		<li>I'm a 
			<% if @user.newbie? %>
				New student
			<% else %>
				Volunteer
			<% end %>
		<li>Gender: 
			<% if @user.gender? %>
				Male
			<% else %>
				Female
			<% end %>
		<li>Major: <%= @user.major %></li>
	<% if @user==current_user || current_user.trips.map(&:pickedpost).map(&:user).include?(@user) || current_user.admin? || @user.trips.map(&:pickedpost).map(&:user).include?(current_user) %>
	
        <li>Email: <%= @user.email %></li>
		
		
		
		<li>QQ: <%= @user.qq %></li>
		<li>Phone#: <%= @user.phone %></li>
		<li>Renren: <%= @user.renren %></li>
		<% if !@user.newbie? %>
			<li>Can provide temp housing: 
				<% if @user.provide_housing? %>
					Yes
					<li>Can provide temp housing for <%= @user.housing_number %> person(s)</li>
				<% else %>
					No
				<% end %>
		
			<li>Available pickup time: <%= @user.available_pickup_time %></li>
		<% end %>
     </strong>
    </section>
	<% end %>
  </aside>
   
  
  <div class="pp">
	<aside class="span16">
	<% if @user.newbie? %>
		<% if @user.posts.count!=0 %>
      		<h3>Posts (<%= @user.posts.count %>)</h3>
      		<div class="row-fluid">
		<div class="span16">
			<table class="table-striped table-bordered table items-list">
				<tread>
					<tr>
						<th>
							<i class style="position:absolute"></i>
							<%= link_to 'Id', posts_path(:sort => 'id') %>
						</th>
						<th>
							<i class style="position:absolute"></i>
							Name
						</th>
						<th>
							<i class style="position:absolute"></i>
							Gender
						</th>
						<th>
							<i class style="position:absolute"></i>
							Major
						</th>
						<% if current_user.admin? %>
						<th>
							<i class style="position:absolute"></i>
							Email
						</th>
						<th>
							<i class style="position:absolute"></i>
							Phone
						</th>
						<% end %>
						<th>
							<i class style="position:absolute"></i>
							<%= link_to 'Need airport pickup?', posts_path(:sort => 'need_pickup')%>
						</th>
						<th>
							<i class style="position:absolute"></i>
							<%= link_to 'Need temp housing?', posts_path(:sort => 'need_housing')%>
						</th>
						<th>
							<i class style="position:absolute"></i>
							<%= link_to 'Arrival date', posts_path(:sort => 'arrival_date')%>
						</th>
						<th>
							<i class style="position:absolute"></i>
						    Arrival time
						</th>
						<th>
							<i class style="position:absolute"></i>
						    Port of Entry
						</th>
						<th>
							<i class style="position:absolute"></i>
						    Flight number
						</th>
						<th>
							<i class style="position:absolute"></i>
							Number of people
						</th>
						
						<th>
							<i class style="position:absolute"></i>
							Notes
						</th>
						<th>
							<i class style="position:absolute"></i>
							<%= link_to 'Pickup status', posts_path(:sort => 'status')%>
						</th>
						<th>
							<i class style="position:absolute"></i>
							Temp housing arrangement
						</th>
					</tr>
				</tread>
				<tbody class="autopagerize_page_element">
				
  					<%= render @posts %>
				</tbody>
			</table>
		</div>
	</div>
      	
		<% elsif @user.posts.count==0 && @user==current_user %>
		<section>
			<%= render 'shared/post_form' %>
        </section>
		<% else %>
			This new student has no post yet
	    <% end %>
	<% else %>
		<% if @user.trips.count!=0 %>
			<h3>My Pickups (<%= @user.trips.count %>)</h3>
				<ol class="posts">
        			<%= render @trips %>
      			</ol>
      		
		<% elsif @user.posts.count==0 && @user==current_user %>
		<h1>
			<%= link_to "See all the posts", posts_path %>
		</h1>
		<% else %>
			This volunteer has not picked any new students yet
		<% end %>
    <% end %>
	</aside>
  </div>

</div>