<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
	<% if @user==current_user || current_user.trips.map(&:pickedpost).map(&:user).include?(@user) || current_user.admin? %>
	<section>
      <h1>
        <li>Email: <%= @user.email %></li>
		<li>Gender: 
			<% if @user.gender? %>
			Boy
			<% else %>
			Girl
			<% end %>
		<li>QQ: <%= @user.qq %></li>
		<li>Phone#: <%= @user.phone %></li>
		<li>Renren: <%= @user.renren %></li>
      </h1>
    </section>
	<% end %>
  </aside>
   
  
  <div class="pp">
	<aside class="span8">
	<% if @user.newbie? %>
		<% if @user.posts.count!=0 %>
      		<h3>My Posts (<%= @user.posts.count %>)</h3>
      		<ol class="posts">
        		<%= render @posts %>
      		</ol>
      		<%= will_paginate @posts %>
		<% else %>
		<section>
			<%= render 'shared/post_form' %>
        </section>
	    <% end %>
	<% else %>
		<% if @user.trips.count!=0 %>
			<h3>My Pickups (<%= @user.trips.count %>)</h3>
				<ol class="posts">
        			<%= render @trips %>
      			</ol>
      		
		<% else %>
		<h1>
			<%= link_to "See all the posts", posts_path %>
		</h1>
		<% end %>
    <% end %>
	</aside>
  </div>

</div>