<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
	<% if @user==current_user || current_user.trips.map(&:pickedpost).map(&:user).include?(@user) || current_user.admin? || @user.trips.map(&:pickedpost).map(&:user).include?(current_user) %>
	<section>
      <h1>
        <li>Email: <%= @user.email %></li>
		<li>Gender: 
			<% if @user.gender? %>
				Boy
			<% else %>
				Girl
			<% end %>
		<li>I'm a 
			<% if @user.newbie? %>
				New student
			<% else %>
				Volunteer
			<% end %>
		<li>Major: <%= @user.major %></li>
		<li>QQ: <%= @user.qq %></li>
		<li>Phone#: <%= @user.phone %></li>
		<li>Renren: <%= @user.renren %></li>
		<% if !@user.newbie? %>
			<li>Can provide temp housing: 
				<% if @user.provide_housing? %>
					Yes
					<li>Can provide temp housing for <%= @user.housing_number %> person(s)</li>
				<% else %>
					No
				<% end %>
		<% end %>
      </h1>
    </section>
	<% end %>
  </aside>
   
  
  <div class="pp">
	<aside class="span8">
	<% if @user.newbie? %>
		<% if @user.posts.count!=0 %>
      		<h3>My Posts (<%= @user.posts.count %>)</h3>
      		<ol class="posts">
        		<%= render @posts %>
      		</ol>
      		<%= will_paginate @posts %>
		<% elsif @user.posts.count==0 && @user==current_user %>
		<section>
			<%= render 'shared/post_form' %>
        </section>
		<% else %>
			This new student has no post yet
	    <% end %>
	<% else %>
		<% if @user.trips.count!=0 %>
			<h3>My Pickups (<%= @user.trips.count %>)</h3>
				<ol class="posts">
        			<%= render @trips %>
      			</ol>
      		
		<% elsif @user.posts.count==0 && @user==current_user %>
		<h1>
			<%= link_to "See all the posts", posts_path %>
		</h1>
		<% else %>
			This volunteer has not picked any new students yet
		<% end %>
    <% end %>
	</aside>
  </div>

</div>