<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
	<%= f.label :arrival_date, "Arrival date (YYYY-MM-DD) *" %>
    <%= f.text_field :arrival_date %>

	<%= f.label :arrival_time, "Arrival time (hh:mm:ss) *" %>
    <%= f.text_field :arrival_time %>

	<%= f.label :flight_number, "flight number *" %>
    <%= f.text_field :flight_number %>

	<%= f.label :number_of_people, "Number of people (max number 2 for one post) *" %>
	<%= f.text_field :number_of_people %>
	
	<%= f.label :entry_port, "Port of entry *" %>
	<%= f.text_field :entry_port %>
	
    Do you need Airport pickup?<br /><br />
	<input id="post_need_pickup_true" name="post[need_pickup]" type="radio" value="true"> Yes <br />
	<input id="post_need_pickup_false" name="post[need_pickup]" type="radio" value="false"> No <br /><br />
	
	Do you need temp housing?<br /><br />
	<input id="post_need_housing_true" name="post[need_housing]" type="radio" value="true"> Yes <br />
  	<input id="post_need_housing_false" name="post[need_housing]" type="radio" value="false"> No <br /><br />

    <%= f.label :note, "Notes" %>
	<%= f.text_area :note, placeholder: "Additional notes..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>