<li>
  <span class="content">
	<li>Name: <%= link_to post.user.name, post.user %></li>
	<li>Arrival date: <%= post.arrival_date %></li> 
	<li>Arrival time: <%= post.arrival_time.hour %>:<%= post.arrival_time.min %></li> 
	<li>Flight number: <%= post.flight_number %></li>
	<li>Number of people: <%= post.number_of_people %></li>
	<li>Luggage: <%= post.luggage_number %></li>
	<li>Notes: <%= post.note %></li>
	<li><% if current_user?(post.user) || current_user.admin? %>
		<%= link_to "delete", post, method: :delete, confirm: "You sure?", title: post.user.name%>
	<% end %></li>
	<li>
		<% unless current_user?(post.user) || current_user.newbie? %>
			<% unless post.status? %>
  				<div id="pick_form">
  				<% if current_user.picking?(post) %> 
    				<%= form_for(current_user.trips.find_by_pickedpost_id(post), html: { method: :delete }) do |f| %>
  						<div><%= f.hidden_field :pickedpost_id %></div>
  						 	 <%= f.submit "Unpick", class: "btn btn-large" %>
					<% end %>
  				<% else %>
    				<%= form_for(current_user.trips.build(pickedpost_id: post.id)) do |f| %>
  						<div><%= f.hidden_field :pickedpost_id %></div>
  						 	 <%= f.submit "Pick", class: "btn btn-large btn-primary" %>
					<% end %>
  				<% end %>
  				</div>
			<% else %>			
				Pickup by: <%= link_to Trip.find_by_pickedpost_id(post).volunteer.name, Trip.find_by_pickedpost_id(post).volunteer %>
			<% end %>
		<% end %>
	</li>
	
  </span>
  
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>