<li>
  <span class="content">
	<li>Name: <%= link_to post.user.name, post.user %></li>
	<li>Major: <%= post.user.major %></li>
	<li>Arrival date: <%= post.arrival_date %></li> 
	<li>Arrival time: <%= post.arrival_time.hour %>:<%= post.arrival_time.min %></li> 
	<li>Flight number: <%= post.flight_number %></li>
	<li>Number of people: <%= post.number_of_people %></li>
	<li>Need airport pickup: 
		<% if post.need_pickup? %>
		Yes
		<% else %>
		No
		<% end %>
	<li>Need temp housing: 
		<% if post.need_housing? %>
		Yes
		<% else %>
		No
		<% end %>
	<li>Luggage: <%= post.luggage_number %></li>
	<li>Notes: <%= post.note %></li>
	<li><% if current_user?(post.user) || current_user.admin? %>
		<%= link_to "delete", post, method: :delete, confirm: "You sure?", title: post.user.name%>
	<% end %></li>
	<li>

			<% if !post.status? && !current_user.newbie? && !current_user?(post.user) %>
  				<div id="pick_form">
    				<%= form_for(current_user.trips.build(pickedpost_id: post.id)) do |f| %>
  						<div><%= f.hidden_field :pickedpost_id %></div>
  						 	 <%= f.submit "Pick", class: "btn btn-large btn-primary" %>
					<% end %>
  				</div>
			<% elsif post.status? && current_user.picking?(post) %>
				<div id="pick_form">
					<%= form_for(current_user.trips.find_by_pickedpost_id(post), html: { method: :delete }) do |f| %>
  						<div><%= f.hidden_field :pickedpost_id %></div>
  						 	 <%= f.submit "Unpick", class: "btn btn-large" %>
					<% end %>
				</div>
			<% elsif post.status? %>			
				Pickup by: <%= link_to Trip.find_by_pickedpost_id(post).volunteer.name, Trip.find_by_pickedpost_id(post).volunteer %>
			<% elsif !post.status? && current_user.newbie? %>
				Have not been picked by anyone.
			<% end %>

	</li>

  </span>
 
  <% if post.need_housing? %>
	<li>Temp housing: <% post.temp_housing_arrangement %></li>
  <% else %>
	<li>No need</li>
  <% end %>

  <% if current_user.admin? %>
  	<li><%= link_to "Update temp housing arrangement", edit_post_path(post) %></li>
  <% end %>

  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>