<li>
  <span class="content">
	<li>Name: <%= link_to post.user.name, post.user %></li>
	<li>Arrival date: <%= post.arrival_date %></li> 
	<li>Arrival time: <%= post.arrival_time.hour %>:<%= post.arrival_time.min %></li> 
	<li>Flight number: <%= post.flight_number %></li>
	<li>Number of people: <%= post.number_of_people %></li>
	<li>Luggage: <%= post.luggage_number %></li>
	<li>Notes: <%= post.note %></li>
	<li><% if current_user?(post.user) %>
		<%= link_to "delete", post, method: :delete, confirm: "You sure?", title: post.user.name%>
	<% end %></li>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>