<%= provide(:title, 'All posts') %>
<div class="container-fluid">
	<header class="jumbotron subhead">
		<div class="breadcrumb">
			<div class="row-fluid btn-toolbar">
				<div class="span2">
					<strong>All <%= @posts.count %> posts</strong>
				</div>
			</div>
		</div>
	</header>
	
	<div class="row-fluid">
		<div class="span16">
			<table class="table-striped table-bordered table items-list">
				<tread>
					<tr>
						<th>
							<i class style="position:absolute"></i>
							<%= link_to 'Id', posts_path(:sort => 'id') %>
						</th>
						<th>
							<i class style="position:absolute"></i>
							Name
						</th>
						<th>
							<i class style="position:absolute"></i>
							Gender
						</th>
						<th>
							<i class style="position:absolute"></i>
							Major
						</th>
						<% if current_user.admin? %>
						<th>
							<i class style="position:absolute"></i>
							Email
						</th>
						<th>
							<i class style="position:absolute"></i>
							Phone
						</th>
						<% end %>
						<th>
							<i class style="position:absolute"></i>
							<%= link_to 'Need airport pickup?', posts_path(:sort => 'need_pickup')%>
						</th>
						<th>
							<i class style="position:absolute"></i>
							<%= link_to 'Need temp housing?', posts_path(:sort => 'need_housing')%>
						</th>
						<th>
							<i class style="position:absolute"></i>
							<%= link_to 'Arrival date', posts_path(:sort => 'arrival_date')%>
						</th>
						<th>
							<i class style="position:absolute"></i>
						    Arrival time
						</th>
						<th>
							<i class style="position:absolute"></i>
						    Port of Entry
						</th>
						<th>
							<i class style="position:absolute"></i>
						    Flight number
						</th>
						<th>
							<i class style="position:absolute"></i>
							Number of people
						</th>
						
						<th>
							<i class style="position:absolute"></i>
							Notes
						</th>
						<th>
							<i class style="position:absolute"></i>
							<%= link_to 'Pickup status', posts_path(:sort => 'status')%>
						</th>
						<th>
							<i class style="position:absolute"></i>
							Temp housing arrangement
						</th>
					</tr>
				</tread>
				<tbody class="autopagerize_page_element">
				
  					<%= render @posts %>
				</tbody>
			</table>
		</div>
	</div>
</div>